<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<springProfile name="local">
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	</springProfile>

	<springProfile name="production">
		<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<prudent>true</prudent>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/log/docker-app/docker-app_%d{yyyy-MM-dd}.log</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg%n</pattern>
				<charset>utf8</charset>
			</encoder>
		</appender>
	</springProfile>

	<logger name="com.patrick.dockerapp" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>
